.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  min-width: 180px;
  &__avatar {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #ffffff url('/img/no_avatar.png') top center/cover no-repeat;
    margin-right: 20px;
  }
  &__panel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    &-item {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
    &-lnk {
      color: $txtClr;
      font-weight: bold;
      text-decoration: none;
      &:hover {
        color: $hvrClr;
      }
    }
  }
}